# Better Auth
BETTER_AUTH_SECRET=random-string123456789
BETTER_AUTH_URL=http://localhost:8787 # Base URL of your app

# GOOGLE auth
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=

# GITHUB auth
GITHUB_CLIENT_ID=
GITHUB_SECRET=