@import '_mixins';

@mixin active {
    width: 16rem;
    transition: all 200ms ease;

    .logo1 {
        align-items: flex-end;
        transform: rotateZ(360deg);
        ~span {
            transform: rotateX(0deg);
        }
    }
}

nav {
    background-color: #222;
    position: fixed;
    z-index: 999;
    color: whitesmoke;
    display: flex;
    transition: width 200ms ease;
    overflow: hidden;
    .navIcon {
        display: inline-block;
    }

    svg {
        width: 5rem;
    }

    div {
        height: 5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all 200ms ease;
    }

    .logo {
        font-size: 50px;
        font-family: 'Press Start 2P', cursive;
    }

    .logo1 {
        @include flexCenter();
        width: 5rem;
        padding-left: 1rem;
        transition: all 200ms ease;

        ~span {
            transform: rotateX(90deg);
            transition: transform 200ms ease;
        }
    }
    .formControl {
    
        input {
            height: 2rem;
        }
    
        input,
        textarea {
            color: $clrInfo;
            margin-bottom: 1rem;
            border-top: none;
            border-left: none;
            border-right: none;
            background: none;
            transition: all 500ms ease;
            border-color: $clrInfo;
            width: 0%;
            opacity: 0;
            top: -12px;
    
            &:focus, &:not(:placeholder-shown) {
                outline: none;
                width: 100%;
                opacity: 1;
                border-color: #f0f;
                +label {
                    top: -15px;
                    font-size: 12px;
                }
            }
        }
    
        textarea {
            height: 10rem;
        }
    
        label {
            position: absolute;
            top: 15px;
            transition: all 250ms ease-in-out;
        }
    }
}

@media (max-width: 768px) {
    
    nav {
        bottom: 0;
        height: 5rem;
        width: 100vw;
        flex-direction: row;
        justify-content: center;
        overflow: visible;

        .navText:not(.formControl),
        .logo {
            display: none;
        }
        .formControl {
            position: fixed;
            opacity: 0;
            bottom: 5rem;
            z-index: 100;
            width: 100vw;
            left: 0;
            transition: all 500ms ease;
        }
        &.navbar_active {
            .formControl {
                opacity: 1;
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar_active {
        @include active();
    }
    nav {
        left: 0;
        top: 0;
        width: 5rem;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        &:hover {
            @include active();
        }

        .navItem{
            &:hover {
                background-color: #070a0f;

                svg {
                    color: #f0f;
                    transition: color 200ms ease;
                }
                &:is(.searchIcon) {
                    cursor: cell;
                }
            }
        }
    }
}