.carousel {
    position: relative;
    overflow-x: hidden;
    display: flex;
    img {
        aspect-ratio: 16/9;
    }
}

@media (max-width: 1024px) {
    $width: 100vw;
    .carousel {
        height: calc(9 / 16 * $width);
        img {
            width: $width;
            position: absolute;
            left: 50vw;
        }
    }
}
@media (min-width: 1024px) {
    $width: 50vw;
    .carousel {
        height: calc(9 / 16 * $width);
        img {
            width: $width;
            position: absolute;
            right: 0;
        }
    }
}