.carousel {
    position: relative;
    overflow-x: hidden;
    display: flex;
    img {
        aspect-ratio: 16/9;
    }
    &::after {
        content: "";
        z-index: 5;
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0));
    }
}

@media (max-width: 1024px) {
    $width: 100vw;
    .carousel {
        height: calc(9 / 16 * $width);
        img {
            width: $width;
            position: absolute;
            left: 50vw;
        }
    }
}
@media (min-width: 1024px) {
    $width: 50vw;
    .carousel {
        height: calc(9 / 16 * $width);
        img {
            width: $width;
            position: absolute;
            right: 0;
        }
    }
}