@import '_mixins', '_variables', '_grids';

.header {
    display: flex;
    width: 100%;

    height: 25vh;
    
    @media (min-width: 1024px) {
        height: 50vh;

    }
    img {
        height: 100%;
    }
}

.hero {
    @include flexCenter();
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: black;
        opacity: 0.3;
        z-index: 1;
    }

    h1 {
        position: absolute;
        z-index: 2;
        color: white;
        font-size: clamp(1rem, 5vw, 5rem);
        font-family: 'Press Start 2P', cursive;
    }
}

.main {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    > :first-child {
        flex: 1;
    }

    > :nth-child(2) {
        flex: 3
    }
}

.infobar {
    @include flexCenter(column);
    gap: 2rem ;

}

.screens {
    display: grid;
    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
    @media (min-width: 1024px) {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
    img {
        width: 100%;
    }
}

.date {
    width: fit-content;
    min-width: 45%;
    height: fit-content;
    background-color: #2a2836;
    @include flexCenter(column);
    color: $neonyellow;
    overflow: hidden;
    text-align: center;
    border: 1px solid $neonyellow;
    box-shadow: 0 0 50px $neonyellow;

    >div {
        width: 100%;
    }

    > :first-child {
        font-size: 2rem;
        border-bottom: 1px solid $neonyellow;
    }

    > :nth-child(2) {
        font-size: 2rem;
    }

    > :nth-child(3) {
        font-size: 3rem;
        border-bottom: 1px solid $neonyellow;
    }

    > :nth-child(4) {
        font-size: 2rem;
    }
}

.description {
    @include description(var(--neonpink));
    margin-top: unset;
}

.logoTile {
    height: 150px;
    background-color: aliceblue;
    border-radius: 1rem;
    @include flexCenter();
    transition: background-color 200ms ease;

    &:hover {
        background-color: lavender;
    }

    a {
        @include flexCenter();
        height: inherit;
        width: inherit;
    }

    img {
        max-height: 50%;
        max-width: 80%;
    }
}

.companies {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    >* {
        flex: 1;
    }

}

.platforms {
    margin-top: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.video {
    margin-top: 2rem;
    width: 100%;
    @include flexCenter;
    > iframe {
        width: 75%;
        height: unset;
        aspect-ratio: 16/9;
    }
}

.cast {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;
    margin: 0 auto;
    @media (min-width: 768px) {
        padding: 0 5rem;
    }
}

.actorCard {
    background-color: #2a2836;
    text-align: center;
    overflow: hidden;
    height: 100%;
    >div:last-child {
        padding: 0.5rem;
    }
    .imgContainer {
        height: 15rem;
        overflow: hidden;
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: scale 250ms ease;
        &:hover {
            scale: 1.05;
        }
    }
    .char {
        color: var(--neongreen);
    }
}

@media (max-width: 1024px) {

    .main {
        flex-direction: column-reverse;
    }
    .video {
        >iframe {
            width: 98%;
        }
    }
}